* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bodyBac);
  color: #fff;
}
:root {
  --mainBac: rgb(56, 30, 172);
  --bodyBac: rgb(207, 207, 207);
  --mainBorder: 25px;
}
section {
  margin-left: 200px;
}
button {
  width: 80%;
  padding: 10px;
  font-size: 15px;
  border: none;
  background-color: #fff;
  border-radius: var(--mainBorder);
}
button:hover {
  cursor: pointer;
}
nav {
  width: 200px;
  height: 100%;
  background-color: var(--mainBac);
  position: fixed;
  /* opacity: 0; */
}
ul li {
  list-style: none;
  color: #fff;
  padding: 15px;
  transition: ease-in-out 0.5s;
  border-top: 0.3px solid black;
}

ul li:last-child {
  border-bottom: 0.3px solid black;
}
ul li:hover,
.active-nav {
  background-color: #fff;
  color: black;
  cursor: pointer;
}
/* section 1 */
.sec-1{

  height: auto;
}

  